.iconSearch { /* Estilos para el icono */
  width: 16px;
  height: 16px;
  margin-right: 0.375rem; /* Espacio entre icono y texto */
  background-image: url(../../assets/searchIcon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block; /* Permite width/height */
}
 