.container--principal{
   padding-top: 3rem;
   min-height: 100vh;
}
.principal--filtros{
    border-radius: 10px;
}
.principal--biblioteca{
    border-radius: 10px;
}
.btn-filtrosAdicionales{
    display: none !important;
}
@media (max-width: 991px) {
    .button-text{
        display: none;
    }
    .principal--filtros{
         display: none;
    }
    .btn-filtrosAdicionales{
        display: block !important;
    }
}