.container__principal{
   padding-top: 3rem;
   min-height: 100vh;
}
.principal__filtros{
    border-radius: 10px;
}
.principal__biblioteca{
    border-radius: 10px;
}
.filtrosAdicionales__btn{
    display: none !important;
}
@media (max-width: 768px) {
    .button-text{
        display: none;
    }
        .principal__filtros{
            display: flex;
            flex-direction: row;
            gap: 40px;
        }
        .principal__filtros__rangoPrecio{
            width: 50%;
        }
        .principal__filtros__formatos{
            width: 50%;
        }
    .filtrosAdicionales__btn{
        display: block !important;
    }
}
 