.rango-precios{
display: flex;
flex-direction: column;
}
.rango-precios__titulo{
    font-weight: bold;
    display: flex;
    text-align: flex-start;
}
.rango-precios__valores{
    display: flex;
    justify-content: space-between;
}