.rangoPrecios{
display: flex;
flex-direction: column;
}
.rangoPrecios__titulo{
    font-weight: bold;
    display: flex;
    text-align: flex-start;
}
.rangoPrecios__valores{
    display: flex;
    justify-content: space-between;
}