footer {
    width: 100%;
    margin-block: 0.5rem;

    @media (min-width: 768px) {
        text-align: left;
    }

    h2 {
        font-size: 1.5rem;
    }

    i {
        font-size: 1.5rem;
        margin-right: 1.5rem;
    }

    a {
        text-decoration: none;
        color: var(--bs-heading-color);
        font-weight: normal;
    }
}