footer {
    width: 100vw;

    @media (min-width: 768px) {
        text-align: left;
    }

    h2 {
        font-size: 1.5rem;
    }

    i {
        font-size: 1.5rem;
        margin-right: 1.5rem;
    }
}